<div><%= car.make %></div>
<br>
<div><%= car.model %></div>
<br>
<img height="720" width="1080" src="<%= car.icon %>">
<div><%= car.marke %></div>
<br>
<div><%= car.emission %></div>
<br>
<div><%= car.fuelConsumpion %></div>
<br>
<a href="/">Home</a>